#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    gap: 2rem;
    margin: 1rem 5rem;
}

#contact-top {
    margin: 1rem 0rem;
    padding: 4rem 0rem;
    background-color: var(--color4);
    font-size: 3rem;
}

#main h1 {
    display: block;
    font-family: var(--font);
    color: var(--color1);
    font-size: 500px;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    height: 40rem;
    padding-left: 5rem;
}

#contact-icons {
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .contact-icons {
    width: 10px;
    margin-right: 0.9rem;
    height:25px;
}
  
  .contact-icons:hover {
    color: var(--color6);
  }

#contact-info img {
    width: 70%;
    z-index: 1;
    object-fit: contain;
    margin-bottom: 1rem;
}

#get-in-touch {
    padding: 0rem 5rem;
    width: 60%;
    border: 1px solid var(--color1);
    border-radius: 2rem;
    box-shadow: rgba(49, 190, 255, 0.35) 4px 4px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 40rem;
}

.title {
    color: var(--color6);
    font-size: 34px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.5px;
    max-width: 421px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    color: var(--color1);
}

.input {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 10px;
    color: var(--color6);
    margin: 30px 0rem;
}

.input input {
    height: 2rem;
    color: var(--color1);
    outline: none;
    width: 100%;
    margin-top: 1rem;
}

#submit-btn {
    display: flex;
    width: 100%;
    height: 20px;
    padding: 20px 13px;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 19px;
    letter-spacing: -0.562px;
    border: 1px solid var(--color1);
}

#submit-btn:hover {
    background: var(--color5);
    color: var(--color1);
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#map-iframe {
    height: 500px;
    width: 94%;
    border: none;
}


@media (max-width: 1111px) {
    #main {
        margin: 0rem 1rem;
        gap: 1rem;
    }

    #get-in-touch {
        padding: 0 1rem;

        margin: 1rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    #contact-top {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
        max-width: 100%;
    }

    .input {
        margin: 20px 0;
    }

    #map {
        margin: 1rem 2rem;
    }

    #map-iframe {
        height: 300px;
    }
}

@media (max-width: 950px) {
    #main {
        flex-direction: column;
        margin: 0rem 1rem;
        gap: 1rem;
    }

    #contact-info {
        width: 100%;
        height: auto;
        padding: 4rem 0rem;
        padding-left: 10rem;

        align-items: flex-start;
    }

    #get-in-touch {
        padding: 0 1rem;
        width: 100%;
        margin: 1rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: auto;
    }

    #contact-top {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
        max-width: 100%;
    }

    .input {
        margin: 20px 0;
    }

    #map {
        margin: 1rem 2rem;
    }

    #map-iframe {
        height: 300px;
    }
}

@media (max-width: 550px) {
    #main {
        flex-direction: column;
        margin: 0;
        gap: 1rem;
    }

    #contact-info,
    #get-in-touch {
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0rem;
    }

    #contact-top {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
        max-width: 100%;
    }

    .input {
        margin: 20px 0;
    }

    #map {
        margin: 1rem 2rem;
    }

    #map-iframe {
        height: 300px;
    }
}