.order-container {
    padding: 20px;
}

.order-header {
    padding-bottom: 20px;
}

.order-header h1 {
    font-size: 1.25rem;
    color: var(--color1 );
    font-weight: bold;
}

.order-table-container {
    width: 100%;    
    overflow-x: auto;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color1 );
    color: var(--color1);
}

.order-table th,
.order-table td {
    padding: 10px;
    border: 1px solid var(--color1 );
        color:var(--color1); 
}

.order-table th {
    font-weight: bold;
}

.order-table td img {
    max-width: 50px;
}

.order-table td {
    transition: background-color 0.3s;
}



.delete-button {
    color: red;
    cursor: pointer;
}

@media (max-width: 360px) {
    .order-table th,
    .order-table td {
        padding: 5px;
    }

    .order-header h1 {
        font-size: 1rem;
    }
}
